{% set nav = [('/','index','Home')] %}
{% set active_page = active_page|default('index') -%}
<html>
	<head>
		<title>Testing</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<title>Testing</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
				<a class="navbar-brand" href="#">TopMorale</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav mr-auto">
					{% for href,id,item in nav %}
					<li {% if id == active_page %} class="nav-item active" {% endif %}>
						<a class="nav-link" href="{{href}}">{{item}}</a>
					</li>
					{% endfor %}
					</ul>
					<form class="form-inline my-2 my-lg-0" _lpchecked="1">
					<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
					<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
					</form>
				</div>
		</nav>
		<main role="main" class="container">
			<div class="row">{% block content %}{% endblock %}</div>
		</main><!-- /.container -->
	</body>
</html>
