{% extends "base.html" %}
{% set active_page = "index" %}
{% block content %}
<h1>hello</h1>
<form class="questions col-md-12" id="response_form" action='' novalidate>
   {% for question in questions %}
    
    <div class="{{ loop.cycle('odd','even') }} row">
        <input id="response_{{loop.index}}" name="response_{{loop.index}}" type="hidden" value="5.5" />
        <div class="question col-md-5">{{ question }}</div>
        <div class="col-md-7 slider" id="slider_{{loop.index}}"></div>
    </div>
    {% endfor  %}
</form>
<button class="btn btn-primary" id="submit_button">Answer</button>
<button class="btn btn-secondary" type="reset" value="Reset">Reset</button>

<script>
    $(function () {
        for (let i = 1; i <= 3; i++) {
            $("#slider_" + i ).slider(
            {
                min: 1,
                max: 10,
                value: 5.5,
                step: 0.5,
                slide: function (event, ui) {
                    $(this).parent().find("#response_" + i).val(ui.value);
                }
            });
        };
        $('button').click(function() {
            var data = {};
            $("#response_form").serializeArray().forEach(function(x){data[x.name] = x.value;});
            $.ajax({
                type: "POST",
                url: '/api/v1/response',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data),
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    });
</script>
{% endblock %}
